<main class=" flex flex-col justify-center h-screen">
    <header class="text-center">
        <h1 class=" text-white">Lockly</h1>
    </header>

    <form class="w-full max-w-md mx-auto p-4 flex flex-col">
        <h2 class="text-center mb-4 text-white">LOGIN</h2>

        <section class="space-y-6">
            <div>
                <label for="email" class="sr-only">Email</label>
                <input 
                    type="email" 
                    id="email" 
                    placeholder="EMAIL"
                    required
                    [(ngModel)]="usuario.email"
                    #nome="ngModel"
                    class="w-full bg-transparent text-gray-300 placeholder-gray-500 focus:outline-none focus:border-white transition duration-300"
                >
            </div>

            <div>
                <label for="senha" class="sr-only">SENHA</label>
                <input
                    type="password"
                    id="senha"
                    placeholder="SENHA"
                    required
                    [(ngModel)] = "usuario.password"
                    class="w-full bg-transparent text-gray-300 placeholder-gray-500 focus:outline-none focus:border-white transition duration-300"
                >
            </div>
        </section>

        <button (click)="entrar()" class="self-center rounded bg-gray-700 text-white hover:bg-gray-600 transition">ENTRAR</button>
    </form>
</main>