<div class="modal flex flex-col flex-wrap content-between">
    <header class="flex justify-between items-center">
        <img src="../../../../assets/senha-2.png" alt="senha">
        <h1 class="text-3xl">SENHA</h1>
        <button (click)="fecharModal()">
            <img src="../../../../assets/close.png" alt="sair">
        </button>
    </header>
    <form class="div-inputs flex flex-col items-center gap-20 w-full">
        <input 
            type="text" 
            id="nomeSenha" 
            name="nomeSenha" 
            placeholder="NOME" 
            required minlength="6"
            [(ngModel)]="senha.name"
            #nomeUsuario="ngModel"
            class="w-3/4 bg-transparent text-gray-300 placeholder-gray-500 border-b border-gray-500 focus:outline-none focus:border-white transition duration-300"
        >

        <input 
            type="text" 
            id="conteudoSenha" 
            name="conteudoSenha" 
            placeholder="CONTEUDO" 
            required minlength="6"
            [(ngModel)]="senha.content"
            #nomeUsuario="ngModel"
            class="w-3/4 bg-transparent text-gray-300 placeholder-gray-500 border-b border-gray-500 focus:outline-none focus:border-white transition duration-300"
        >

        <div class="flex flex-wrap justify-center items-center gap-10">
            <button (click)="salvar()" class="botao-continuar rounded bg-gray-700 text-white hover:bg-gray-600 transition">CONFIRMAR</button>
            <button (click)="deletar()" *ngIf="buttonDeletar" class="botao-continuar rounded bg-gray-700 text-white hover:bg-gray-600 transition">DELETAR</button>        
        </div>
    </form>


</div>