* {
    background-color: rgba(41, 41, 41, 1);
}

.botao-entrar {
    background-color: rgba(41, 41, 41, 1);
    border: solid white 1px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}

.botao-cadastrar {

}