
<header class="flex justify-between">
    <h2 class="lockly">Lockly</h2>
    <div class="flex gap-10 botoes">
        <button (click)="entrar()" class="botao-entrar flex justify-center items-center">Entrar</button>
        <button (click)="cadastrar()" class="botao-cadastrar flex justify-center items-center">Comece agora</button>
    </div>
</header>
<main class="flex flex-col justify-center items-center gap-10">
    <h1>
        Guarde suas<br>senhas
    </h1>
        
    <section class="sec flex justify-center">
        <div class="div-sec-1 shadow-lg  flex flex-col justify-center items-center gap-7">
            <h2 class="h2-sec1">Crie pastas para se organizar</h2>
            <img src="../../../assets/pastas.png" alt="img-pastas-sec1" class="img-pastas-sec1">
        </div>
    </section>


    <section>
        <div class="div-sec-2 flex flex-col justify-center items-center gap-7">
            <h2 class="h2-sec2">Busque por senhas rapidamente</h2>
            <img src="../../../assets/sec-2.png" alt="img-busca-sec2" class="img-busca-sec2">
        </div>
    </section>

    <section>
        <div class="div-sec-1 flex flex-col justify-around items-center">
            <h2 class="h2-sec3">Senhas criptografadas e seguras</h2>
            <img src="../../../assets/sec-3.png" alt="img-cript-sec3" class="img-cript-sec3">
        </div>
    </section>
    
</main>