
<header class="flex justify-between">
    <h2>Lockly</h2>
    <div class="flex gap-10 botoes">
        <button class="botao-entrar flex justify-center items-center">Entrar</button>
        <button class="botao-cadastrar flex justify-center items-center">Comece agora</button>
    </div>
</header>
<main class="h-screen">
    <h1>
        Guarde suas<br>senhas
    </h1>
        
    <section>
        <h2>Crie pastas para se organizar</h2>
        <img src="" alt="">
    </section>


    <section>
        <h2>Busque por senhas rapidamente</h2>
        <img src="" alt="">
    </section>

    <section>
        <h2>Senhas criptografadas e seguras</h2>
        <img src="" alt="">
    </section>
</main>