
<main class="flex flex-col justify-center">
    <header>
        <h1>Lockly</h1>
    </header>

    <form>
        <h2>CADASTRE-SE</h2>

        <section>
            <div>
                <label for="nomeUsuario">Nome</label>
                <input
                    type="text"
                    id="nomeUsuario"
                    name="nomeUsuario"
                    placeholder="NOME"
                    required
                    [(ngModel)]="usuario.name"
                    #nomeUsuario="ngModel"
                >
            </div>

            <div>
                <label for="emailUsuario">Email</label>
                <input
                    type="email"
                    id="emailUsuario"
                    name="emailUsuario"
                    placeholder="EMAIL"
                    required
                    email
                    [(ngModel)]="usuario.email"
                    #emailUsuario="ngModel"
                >
            </div>

            <div>
                <label for="senhaUsuario">Senha</label>
                <input
                    type="password"
                    id="senhaUsuario"
                    name="senhaUsuario"
                    placeholder="SENHA"
                    required
                    minlength="6"
                    [(ngModel)]="usuario.password"
                    #senhaUsuario="ngModel"
                >
            </div>
        </section>

        <button (click)="cadastrar()">CONTINUAR</button>
    </form>
</main>

