<div class="flex flex-col">
    <button>
        <img src="../../../../../assets/senha-2.png" alt="senha">
    </button>

    <input type="password" [disabled]="true" [(ngModel)]="content" (blur)="salvarConteudo()" (keyup.enter)="salvarConteudo()" placeholder="Conteudo da senha">

    <span *ngIf="!isEditing" (click)="editarNome()">{{nome || 'Sem nome'}}</span>">
</div>


<!-- <span *ngIf="!isEditing" (click)="editarNome()">{{ nome || 'Sem nome' }}</span>

<input *ngIf="isEditing" type="text" [(ngModel)]="nome" (blur)="salvarNome()" (keyup.enter)="salvarNome()" placeholder="Nome da pasta"> -->