<div class="modal flex flex-col flex-wrap content-between">
    <header class="flex justify-between items-center">
        <img src="../../../../assets/pasta.png" alt="senha">
        <h1 class="text-3xl">{{pasta.name}}</h1>
        <button (click)="fecharModal()">
            <img src="../../../../assets/close.png" alt="sair">
        </button>
    </header>

    <main class="flex flex-wrap p-5 gap-5">
        <app-password *ngFor="let senha of senhas; let i = index" 
            [(nome)]="senhas[i].nome"
            [(content)]="senhas[i].conteudo"
            [isEditing]="senhas[i].isEditing" 
        >
        </app-password>
    </main>

    <button (click)="abrirModalSenha()" class="self-center botao-continuar rounded bg-gray-700 text-white hover:bg-gray-600 transition">CADASTRAR SENHA</button>
</div>
